extends ../base

block head
  link(rel="stylesheet", href="/css/form.css")

block content
  main
    div.container
      div.bg-secondary.rounded.content
        p
          | Tem certeza que você quer remover o item
          span.text-bold  #{item.name}
          | ?
        form(action="", method="post")
          div.btn-group
            a(href=`/item/${item.id}`).btn.btn-secondary Cancelar
            button(type="submit").btn.btn-primary Remover
