main .container,
.content {
  padding: 16px;
  box-sizing: border-box;
}

.content,
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form button {
  align-self: flex-end;
}

form .btn-group {
  display: flex;
  justify-content: right;
  gap: 8px;
}

.form-group .image {
  max-width: 100%;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.form-group .image img {
  max-height: 80px;
  border-radius: 8px;
}

.form-group .image div {
  flex-grow: 1;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: white;
}

.form-group .image input {
  display: flex;
}

@media screen and (min-width: 768px) {
  .content {
    padding: 24px;
    max-width: 568px;
    margin: 0 auto;
  }
}
