extends ../base

block content
  h1 Listagem de categorias
  a(href="/category/create") Nova categoria
  ul
    each category in categories
      li
        a(href=category.url) #{category.name}
    else
      li Nenhuma categoria encontrada
