extends ../base

block head
  link(rel="stylesheet", href="/css/form.css")

block content
  main
    div.container
      div.bg-secondary.rounded.content
        h2 Remover a categoria "#{category.name}"?
        p #{items_count} itens possuem essa categoria
        form(action="", method="post")
          div.btn-group
            a(href=`/category/${category.id}`).btn.btn-secondary Cancelar
            button(type="submit").btn.btn-primary Remover
