extends ../base

block head
  link(rel="stylesheet", href="/css/category/category_list.css")

block content
  main
    div.container
      ul.actions
        li
          a.btn.btn-primary(href="/category/create" title="Adicionar categoria")
            i(data-feather="plus")
      if categories.length
        ul.list
          each category in categories
            li
              a.category-item(href=category.url) #{category.name}
      else
        p.no-elements-warning Nenhuma categoria encontrada
