main .container {
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.category {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
}

main .items-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

main .items-container > p {
  text-align: right;
}
