extends base

block head
  link(rel="stylesheet", href="/css/404.css")

block content
  main
    div.container
      h2 Recurso não encontrado
      p A página que você está tentando acessar não existe, verifique a url 
  